<form action='/puppies/<%=@puppy.id%>' method='post'>
<input type='hidden' name='_method' value='patch'/> 
<label>Puppy:</label>
<input type="text" name="puppy" value="<%=@puppy.name%>" />
<label>Breed:</label>
<input type="text" name="breed" value="<%=@puppy.breed%>" />
<input type="submit" />
</form>